{% extends "::base.html.twig" %}

{% block title %}BasketballBundle:Player:editPlayer{% endblock %}

{% block body %}
<h1>Panel użytkownika:</h1>
<ul>
    <li><a href="{{ asset('addPlayer') }}">Dodaj zawodnika</a></li>
    <li><a href="{{ asset('editUser') }}">Zmień Dane</a></li>
    <li><a href="{{ asset('checkIn') }}">Wpisz się na mecz</a></li>
    <li><a href="{{ asset('') }}"></a></li>
</ul>
{% endblock %}
