@font-face {
    font-family: Berkshire;
    src: url(/fonts/BerkshireSwash-Regular.ttf);
}

@font-face {
    font-family: CinzelBlack;
    src: url(/fonts/Cinzel-Black.ttf);
}

@font-face {
    font-family: CinzelBold;
    src: url(/fonts/Cinzel-Bold.ttf);
}

@font-face {
    font-family: Cinzel;
    src: url(/fonts/Cinzel-Regular.ttf);
}

@font-face {
    font-family: Breeserif;
    src: url(/fonts/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: Dancing;
    src: url(/fonts/DancingScript-Bold.ttf);
}
@font-face {
    font-family: Gloria;
    src: url(/fonts/GloriaHallelujah.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(/fonts/Lobster-Regular.ttf);
}
