#registerContainer {
    position: absolute;
    left:34vw;
    top:22vh;
    z-index:100;
    width: 35vw;
    height: 45vh;
    background-color: rgba(173, 216, 230, 0.9);
    
    #registerHeader {
        height: 5vh;
        width: 35vw;
        
        span {
            font-size: 1.4vw;
            position: relative;
            left: 14vw;
            top:2vh;
        }
                
    }
    
    #registerBody {
        
        width: 35vw;
        height: 40vh;
        
        #registerInputs {
            width: 35vw;
            height: 38vh;
            background-color: rgba(173, 255, 47, 0.8);
            position:relative;
            
            .form-group:first-of-type label {
                position:absolute;
                left:3.6vw;
                top:3.2vh;
                font-size: 1.3vw;
            }
            
            .form-group:first-of-type input {
                position:absolute;
                left: 10vw;
                top: 3vh;
                width:20vw;
                height: 4vh;
                font-size: 1.2vw;
            }
            
            .form-group:nth-of-type(2) label {
                position:absolute;
                left:3.6vw;
                top:9.2vh;
                font-size: 1.3vw;
            }
            
            .form-group:nth-of-type(2) input {
                position:absolute;
                left: 10vw;
                top: 9vh;
                width:20vw;
                height: 4vh;
                font-size: 1.2vw;
            }
            
            .form-group:nth-of-type(3) label {
                position:absolute;
                left:3.6vw;
                top:15.2vh;
                font-size: 1.3vw;
            }
            
            .form-group:nth-of-type(3) input {
                position:absolute;
                left: 10vw;
                top: 15vh;
                width:20vw;
                height: 4vh;
                font-size: 1.2vw;
            }
            
            .form-group:nth-of-type(4) label {
                position:absolute;
                left:3.6vw;
                top:21.2vh;
                font-size: 1.3vw;
            }
            
            .form-group:nth-of-type(4) input {
                position:absolute;
                left: 10vw;
                top: 21vh;
                width:20vw;
                height: 4vh;
                font-size: 1.2vw;
            }
            
            button {
                position: absolute;
                left:13vw;
                top:28vh;
                width:10vw;
                height:6vh;
                font-size: 1.3vw;
            }

        }
    }
}
