{% extends "::base.html.twig" %}

{% block title %}BasketballBundle:Login:login{% endblock %}

{% block body %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>Logowanie</h2>
        </div>
        <div class="panel-body">
            {% if errors %}
                <div class="alert alert-danger">
                     {{ errors.messageKey }}
                </div>
            {%endif%}
            <form action="{{path('login')}}" method="post">
                <div class="form-group">
                    <label for="username">Login:</label>
                    <input type="text" name="_username" id="username" class="form-control" value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="username">Password</label>
                    <input type="password" name="_password" id="password" class="form-control">
                </div>
                <button class="btn btn-info pull-right">Zaloguj</button>
            </form>
        </div>
        <div>
            <p>Nie masz konta? <a href ="{{ asset('register')}}">Zarejestruj się</a>
        </div>
    </div>
{% endblock %}
