{% extends "::baseMain.html.twig" %}

{% block title %}BasketballBundle:Login:login{% endblock %}

{% block body %}
    <div id="mainContainerBackground">
    </div>
    <div id="mainContainer">
        <div id="successMsg">
            <div id ="messageBodyHeader"><span>Logowanie</span></div>
            {% if errors %}
                <div class="alert alert-danger">
                     Niewłaściwe Dane!
                </div>
            {%endif%}
            <div id = "messageBody">
                <div id="messagBodyInputs">
                    <form action="{{path('login')}}" method="post">
                            <label for="username">Login:</label>
                            <input type="text" name="_username" id="username" value="{{ username }}">
                            <label for="username">Hasło:</label>
                            <input type="password" name="_password" id="password" >
                        <button class="btn btn-info pull-right">Zaloguj</button>
                    </form>
                </div>
            <div id="messageBodyButton">
                <p>Nie masz konta? <a href ="{{ asset('register')}}">Zarejestruj się</a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}
