{% extends "::baseMain.html.twig" %}

{% block title %}Koszykówka - Dąbrowa{% endblock %}

{% block body %}
    <div id="mainContainer">
        <div id="successMsg">
            <div><span>Sukces!</span></div>
            <div>
                <span>Udało Ci się dodać wynik spotkania.</span><br>
                <a href="{{asset('login')}}"><button class="btn btn-success">Ok</button></a>
            </div>
        </div>
    </div>
{% endblock %}
