body {
  margin: 0;
  background-color: #f2f2f2; }

.panel {
  margin-bottom: 0px; }

.panel-heading {
  position: relative; }
  .panel-heading h3 {
    color: black;
    text-align: center; }
  .panel-heading button {
    position: absolute;
    left: 1vw;
    top: 1vh;
    width: 5.2vw;
    height: 4vh; }
    .panel-heading button span {
      font-size: 1.2vw;
      position: absolute;
      left: 1vw;
      top: 0.3vh; }

.mainContainer {
  background-color: lightgray;
  height: 86vh;
  margin: 0;
  display: flex; }
  .mainContainer div:first-of-type {
    height: 86vh;
    border-right: 2vw solid #8cc152;
    width: 52vw;
    position: relative; }

#calendarHeader {
  border: none;
  width: 100%;
  height: 10vh;
  position: relative; }
  #calendarHeader h3 {
    position: absolute;
    top: 2vh;
    margin: 0;
    width: 50vw;
    font-size: 2vw;
    text-align: center; }

#calendar {
  position: relative;
  clear: both; }
  #calendar select {
    position: absolute;
    width: 12vw;
    height: 5vh;
    font-size: 1.75vw; }
  #calendar option {
    font-size: 1.25vw; }
  #calendar select:first-of-type {
    left: 6vw; }
  #calendar select:last-of-type {
    left: 34vw; }

table {
  position: absolute;
  left: 6vw;
  top: 5vh;
  border: solid 2px black;
  width: 40vw;
  background-color: #f2f2f2; }
  table tbody {
    width: 40vw; }
  table tr {
    width: 40vw; }
  table th {
    font-size: 1.5vw;
    text-align: center;
    height: 8vh;
    background-color: darkslategrey;
    color: white; }
  table td {
    border: solid 1px black;
    height: 8vh; }
    table td button {
      height: 8vh;
      width: 100%; }
      table td button span {
        font-size: 1.75vw; }

.dateAndPlace {
  background-color: lightpink;
  height: 86vh;
  width: 48vw;
  margin: 0;
  float: left; }

#placeHeader {
  border: none;
  width: 100%;
  height: 10vh;
  position: relative; }
  #placeHeader h3 {
    position: absolute;
    top: 2vh;
    margin: 0;
    width: 48vw;
    font-size: 2vw;
    text-align: center; }

#pickPlace {
  background-color: lightblue;
  height: 40vh;
  border-bottom: 2vw solid #8cc152;
  border-right: none;
  width: 48vw;
  position: relative; }
  #pickPlace select {
    position: absolute;
    width: 15vw;
    height: 5vh;
    left: 16vw;
    font-size: 1.5vw; }

.addNextGameButtonContainer {
  background-color: yellow;
  height: 46vh;
  position: relative; }
  .addNextGameButtonContainer span {
    font-size: 2vw; }
    .addNextGameButtonContainer span:nth-child(2) {
      position: absolute;
      left: 8vw;
      top: 10vh; }
    .addNextGameButtonContainer span:nth-child(3) {
      position: absolute;
      left: 26vw;
      top: 10vh; }
    .addNextGameButtonContainer span:nth-child(4) {
      position: absolute;
      left: 8vw;
      top: 16vh; }
    .addNextGameButtonContainer span:nth-child(5) {
      position: absolute;
      left: 26vw;
      top: 16vh; }
  .addNextGameButtonContainer button {
    position: absolute;
    width: 15vw;
    height: 8vh;
    left: 16vw;
    top: 26vh;
    font-size: 1.75vw; }

/*# sourceMappingURL=adminPanel.css.map */
