body {
  margin: 0;
  background-color: #f2f2f2; }

.panel {
  margin-bottom: 0px; }

.panel-heading {
  position: relative; }
  .panel-heading h3 {
    color: black;
    text-align: center; }
  .panel-heading button {
    position: absolute;
    left: 1vw;
    top: 1vh;
    width: 5.2vw;
    height: 4vh; }
    .panel-heading button span {
      font-size: 1.2vw;
      position: absolute;
      left: 1vw;
      top: 0.3vh; }

.mainContainer {
  background-color: lightgray;
  height: 100%;
  margin: 0;
  display: flex; }
  .mainContainer div:first-of-type {
    height: 86vh;
    border-right: 2vw solid #8cc152;
    width: 52vw;
    position: relative; }

#calendarHeader {
  border: none;
  width: 100%;
  height: 10vh;
  position: relative; }
  #calendarHeader h3 {
    position: absolute;
    top: 2vh;
    margin: 0;
    width: 50vw;
    font-size: 2vw;
    text-align: center; }

#calendar {
  position: relative;
  clear: both; }
  #calendar select {
    position: absolute;
    width: 12vw;
    height: 5vh;
    font-size: 1.75vw; }
  #calendar option {
    font-size: 1.25vw; }
  #calendar select:first-of-type {
    left: 6vw; }
  #calendar select:last-of-type {
    left: 34vw; }

table {
  position: absolute;
  left: 6vw;
  top: 5vh;
  border: solid 2px black;
  width: 40vw;
  background-color: #f2f2f2; }
  table tbody {
    width: 40vw; }
  table tr {
    width: 40vw; }
  table th {
    font-size: 1.5vw;
    text-align: center;
    height: 8vh;
    background-color: darkslategrey;
    color: white; }
  table td {
    border: solid 1px black;
    height: 8vh; }
    table td button {
      height: 8vh;
      width: 100%; }
      table td button span {
        font-size: 1.75vw; }

.dateAndPlace {
  background-color: lightpink;
  height: 86vh;
  width: 48vw;
  margin: 0;
  float: left; }

#placeHeader {
  border: none;
  width: 100%;
  height: 10vh;
  position: relative; }
  #placeHeader h3 {
    position: absolute;
    top: 2vh;
    margin: 0;
    width: 48vw;
    font-size: 2vw;
    text-align: center; }

#pickPlace {
  background-color: lightblue;
  height: 40vh;
  border-bottom: 2vw solid #8cc152;
  border-right: none;
  width: 48vw;
  position: relative; }
  #pickPlace select {
    position: absolute;
    width: 15vw;
    height: 5vh;
    left: 16vw;
    font-size: 1.5vw; }

.addNextGameButtonContainer {
  background-color: yellow;
  height: 46vh;
  position: relative; }
  .addNextGameButtonContainer span {
    font-size: 2vw; }
    .addNextGameButtonContainer span:nth-child(2) {
      position: absolute;
      left: 8vw;
      top: 10vh; }
    .addNextGameButtonContainer span:nth-child(3) {
      position: absolute;
      left: 26vw;
      top: 10vh; }
    .addNextGameButtonContainer span:nth-child(4) {
      position: absolute;
      left: 8vw;
      top: 16vh; }
    .addNextGameButtonContainer span:nth-child(5) {
      position: absolute;
      left: 26vw;
      top: 16vh; }
  .addNextGameButtonContainer button {
    position: absolute;
    width: 15vw;
    height: 8vh;
    left: 16vw;
    top: 26vh;
    font-size: 1.75vw; }

.mainContainerResult {
  background-color: lightgray;
  height: 86vh;
  margin: 0; }

.myRow {
  width: 100%;
  height: 10vh; }

#firstRow {
  display: flex;
  position: absolute; }
  #firstRow div:nth-child(1) {
    width: 50%;
    background-color: white;
    height: 10vh; }
    #firstRow div:nth-child(1) span {
      left: 20vw; }
  #firstRow div:nth-child(2) {
    width: 50vw;
    background-color: black;
    color: white;
    height: 10vh; }
    #firstRow div:nth-child(2) span {
      left: 20vw; }
  #firstRow span {
    position: relative;
    font-size: 2vw;
    top: 3vh; }

#secondRow {
  display: flex; }

#thirdRow {
  display: flex; }

#fourthRow {
  display: flex; }

#fifthRow {
  display: flex; }

#sixthRow {
  display: flex; }

#eightRow {
  display: flex; }
  #eightRow div {
    width: 33%;
    height: 100%;
    position: relative; }
  #eightRow div:last-child {
    width: 34%; }
  #eightRow input {
    position: absolute;
    top: 5vh;
    height: 14vh;
    width: 7vw; }
  #eightRow div:nth-child(1) input {
    left: 16.5vw; }
  #eightRow div:nth-child(3) input {
    left: 10.5vw; }
  #eightRow span {
    position: relative;
    top: 20vh;
    font-size: 0.9vw;
    color: red;
    left: 8.5vw;
    display: none; }

/*.playerSelection {
    position: absolute;
    width: 12vw;
    height: 30.5vh;
    border: solid 1px;
    border-color: rgba(220,220,220,0.75);
    left: 2vw;
    top: 28vh;
    background-color: #fbfbfb;
    text-decoration: none;
}*/
.firstTeamPlayer {
  width: 33vw;
  height: 10vh; }

.playerSelect {
  position: relative;
  top: 13vh;
  left: 12vw;
  width: 15vw;
  height: 5vh;
  font-size: 1.6vw;
  padding-left: 1vw; }
  .playerSelect option {
    font-size: 1.6vw; }

.playerLabel {
  width: 34vw;
  height: 10vh; }

.secondTeamPlayer {
  width: 33vw;
  height: 10vh; }
  .secondTeamPlayer .playerSelect {
    left: 5vw; }

.playerLabel span {
  position: relative;
  font-size: 1.5vw;
  left: 12vw;
  top: 13vh; }

.myRow input {
  font-size: 3vw;
  padding: 0.5vw;
  padding-left: 1.5vw; }

#acceptResultButton {
  width: 13vw !important;
  height: 10vh !important;
  font-size: 2vw;
  position: absolute;
  left: 9vw;
  top: 8vh; }

#successMsg {
  position: absolute;
  left: 34vw;
  top: 38vh;
  z-index: 100;
  width: 30vw;
  height: 20vh;
  border: solid 0.2vw black;
  background-color: lightyellow;
  display: none; }
  #successMsg div:nth-child(1) {
    height: 5vh;
    width: 29.6vw;
    background-color: lightblue; }
    #successMsg div:nth-child(1) span {
      font-size: 1.4vw;
      position: relative;
      left: 12vw;
      top: 1vh; }
  #successMsg div:nth-child(2) span {
    font-size: 1.2vw;
    position: relative;
    left: 4.5vw;
    top: 1vh; }
  #successMsg div:nth-child(2) button {
    position: relative;
    width: 7vw;
    height: 6vh;
    left: 12vw;
    top: 2.4vh;
    font-size: 1.4vw; }

#mainContainerGameDetails {
  background-color: lightgray;
  height: 100wh;
  margin: 0; }

#scoreGameDetails {
  background: -moz-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(16%, white), color-stop(34%, white), color-stop(70%, black), color-stop(100%, black));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* ie10+ */
  background: linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 );
  /* ie6-9 */
  /*background-color: lightgray;*/
  width: 100%;
  height: 16vh;
  position: relative;
  /*display:flex;*/ }

#spanScore {
  position: absolute;
  font-size: 5.5vw;
  font-weight: 600;
  left: 40vw;
  top: 0.1vh;
  letter-spacing: 1vw;
  text-shadow: -0.2vw 0 lightgray, 0 0.1vw lightgray, 0.1vw 0 lightgray, 0 -0.1vw lightgray; }

#firstTeamName {
  position: absolute;
  font-size: 1.8vw;
  text-shadow: none;
  letter-spacing: 0.3vw;
  left: -24vw;
  top: 10vh; }

#secondTeamName {
  position: absolute;
  font-size: 1.8vw;
  text-shadow: none;
  letter-spacing: 0.3vw;
  top: 10vh;
  left: 24vw;
  color: white;
  width: 20vw; }

#teamCompeting {
  width: 100%;
  background-color: lightgreen;
  height: 70vh;
  display: flex;
  position: absolute; }

#teamNameSpot {
  height: 5vh;
  width: 100%;
  background: -moz-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(16%, white), color-stop(34%, white), color-stop(70%, black), color-stop(100%, black));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* ie10+ */
  background: linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 );
  /* ie6-9 */ }

.playersCompeting {
  width: 50%;
  height: 70vh;
  display: flex;
  position: relative; }

.playersCompeting:nth-child(1) {
  background-color: white; }

.playersCompeting:nth-child(2) {
  background-color: black; }

.playerSpot {
  position: absolute;
  width: 12vw;
  height: 24vh;
  border: solid 0.2vw black; }

.firstPlayerSpot {
  top: 3vh;
  left: 2vw; }

.secondPlayerSpot {
  top: 3vh;
  left: 35vw; }

.thirdPlayerSpot {
  top: 20vh;
  left: 19vw; }

.fourthPlayerSpot {
  top: 35vh;
  left: 2vw; }

.fifthPlayerSpot {
  top: 35vh;
  left: 35vw; }

.blackSpot {
  border: solid 0.2vw white; }

.center-block {
  width: 11.6vw;
  height: 23.4vh; }

.firstPlayerName {
  width: 16vw;
  height: 4vh;
  position: absolute;
  background-color: #12487C;
  color: whitesmoke;
  left: 0.2vw;
  top: 21vh;
  text-align: center; }

/* ribbon style */
/*.myribbon {
    
}*/
.firstRibbon {
  position: absolute;
  left: 2vw;
  top: 23vh; }

.secondtRibbon {
  position: absolute;
  left: 35vw;
  top: 23vh; }

.thirdRibbon {
  position: absolute;
  left: 19vw;
  top: 40vh; }

.fourthRibbon {
  position: absolute;
  left: 2vw;
  top: 55vh; }

.fifthRibbon {
  position: absolute;
  left: 35vw;
  top: 55vh; }

.myribbon.ribbon-wrapper {
  position: relative; }

.myribbon .ribbon-front {
  background-color: #ccf;
  height: 1.5vw;
  width: 14.7vw;
  position: relative;
  left: -1.388vw;
  z-index: 2; }

.myribbon .ribbon-front,
.myribbon .ribbon-back-left,
.myribbon .ribbon-back-right {
  -moz-box-shadow: 0px 0px 0.27vw rgba(0, 0, 0, 0.55);
  -khtml-box-shadow: 0px 0px 0.27vw rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 0.27vw rgba(0, 0, 0, 0.55);
  -o-box-shadow: 0px 0px 0.27vw rgba(0, 0, 0, 0.55); }

.myribbon .ribbon-edge-topleft,
.myribbon .ribbon-edge-topright,
.myribbon .ribbon-edge-bottomleft,
.myribbon .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style: solid;
  height: 0px;
  width: 0px; }

.myribbon .ribbon-edge-bottomleft,
.myribbon .ribbon-edge-bottomright {
  top: 1.0416vw; }

.myribbon .ribbon-edge-topleft,
.myribbon .ribbon-edge-bottomleft {
  left: -1.5vw;
  border-color: transparent #99c transparent transparent; }

.myribbon .ribbon-edge-topleft {
  top: -0.694vw;
  border-width: 0.694vw 1.5vw 0 0; }

.myribbon .ribbon-edge-bottomleft {
  border-width: 0 1.5vw 0px 0; }

.myribbon .ribbon-edge-topright,
.myribbon .ribbon-edge-bottomright {
  left: 12vw;
  border-color: transparent transparent transparent #99c; }

.myribbon .ribbon-edge-topright {
  top: -0.694vw;
  border-width: 0.694vw 0 0 1.5vw; }

.myribbon .ribbon-edge-bottomright {
  border-width: 0 0 0px 1.5vw; }

.myribbon .ribbon-back-left {
  position: absolute;
  top: -0.694vw;
  left: 0px;
  width: 0px;
  height: 1.0416vw;
  z-index: 0; }

.myribbon .ribbon-back-right {
  position: absolute;
  top: -0.694vw;
  right: 0px;
  width: 0px;
  height: 1.0416vw;
  z-index: 0; }

.ribbon-front {
  text-align: center; }

.ribbon-front span {
  font-size: 1.1vw;
  letter-spacing: 0.3vw;
  font-weight: 600; }

/*# sourceMappingURL=adminPanel.css.map */
