html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0;
  margin: 0; }

#mainContainerBackground {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("/photos/img/basket.jpg");
  background-size: 100% 100%;
  -webkit-filter: blur(0.3vw);
  -moz-filter: blur(0.3vw);
  -o-filter: blur(0.3vw);
  -ms-filter: blur(0.3vw);
  filter: blur(0.3vw); }

#mainContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0.9;
  position: relative;
  left: 0;
  right: 0;
  z-index: 9999; }

#successMsg {
  position: absolute;
  left: 34vw;
  top: 32vh;
  z-index: 100;
  width: 35vw;
  height: 30vh;
  background-color: rgba(173, 216, 230, 0.9);
  /*    #button {
              position: relative;
              width: 7vw;
              height: 6vh;
              left: 12vw;
              top: 2.4vh;
              font-size: 1.4vw;
          }*/ }
  #successMsg #messageBodyHeader {
    height: 5vh;
    width: 35vw; }
    #successMsg #messageBodyHeader span {
      font-size: 1.4vw;
      position: relative;
      left: 14vw;
      top: 1vh; }
  #successMsg #messageBody {
    width: 35vw;
    height: 25vh; }
    #successMsg #messageBody #messagBodyInputs {
      width: 35vw;
      height: 20vh;
      background-color: rgba(173, 255, 47, 0.8);
      position: relative; }
      #successMsg #messageBody #messagBodyInputs label:first-child {
        position: absolute;
        left: 4.6vw;
        top: 3.2vh;
        font-size: 1.3vw; }
      #successMsg #messageBody #messagBodyInputs label:last-of-type {
        position: absolute;
        left: 4.6vw;
        top: 8.2vh;
        font-size: 1.3vw; }
      #successMsg #messageBody #messagBodyInputs input {
        position: absolute;
        left: 9vw;
        top: 3vh;
        width: 20vw;
        height: 4vh;
        font-size: 1.2vw; }
      #successMsg #messageBody #messagBodyInputs input:last-of-type {
        position: absolute;
        left: 9vw;
        top: 8vh; }
      #successMsg #messageBody #messagBodyInputs button {
        position: absolute;
        left: 15vw;
        top: 14vh;
        width: 7vw;
        height: 5vh;
        font-size: 1.3vw; }
    #successMsg #messageBody #messageBodyButton {
      position: relative; }
      #successMsg #messageBody #messageBodyButton p {
        position: absolute;
        left: 1vw;
        top: 1vh;
        font-size: 1vw; }

#successMsgRegister {
  position: absolute;
  left: 34vw;
  top: 22vh;
  z-index: 100;
  width: 35vw;
  height: 45vh;
  background-color: rgba(173, 216, 230, 0.9); }
  #successMsgRegister #messageBodyHeader {
    height: 5vh;
    width: 35vw; }
    #successMsgRegister #messageBodyHeader span {
      font-size: 1.4vw;
      position: relative;
      left: 14vw;
      top: 2vh; }
  #successMsgRegister #messageBody {
    width: 35vw;
    height: 40vh; }
    #successMsgRegister #messageBody #messagBodyInputs {
      width: 35vw;
      height: 38vh;
      background-color: rgba(173, 255, 47, 0.8);
      position: relative; }
      #successMsgRegister #messageBody #messagBodyInputs .form-group:first-of-type label {
        position: absolute;
        left: 3.6vw;
        top: 3.2vh;
        font-size: 1.3vw; }
      #successMsgRegister #messageBody #messagBodyInputs .form-group:first-of-type input {
        position: absolute;
        left: 10vw;
        top: 3vh;
        width: 20vw;
        height: 4vh;
        font-size: 1.2vw; }
      #successMsgRegister #messageBody #messagBodyInputs .form-group:nth-of-type(2) label {
        position: absolute;
        left: 3.6vw;
        top: 9.2vh;
        font-size: 1.3vw; }
      #successMsgRegister #messageBody #messagBodyInputs .form-group:nth-of-type(2) input {
        position: absolute;
        left: 10vw;
        top: 9vh;
        width: 20vw;
        height: 4vh;
        font-size: 1.2vw; }
      #successMsgRegister #messageBody #messagBodyInputs .form-group:nth-of-type(3) label {
        position: absolute;
        left: 3.6vw;
        top: 15.2vh;
        font-size: 1.3vw; }
      #successMsgRegister #messageBody #messagBodyInputs .form-group:nth-of-type(3) input {
        position: absolute;
        left: 10vw;
        top: 15vh;
        width: 20vw;
        height: 4vh;
        font-size: 1.2vw; }
      #successMsgRegister #messageBody #messagBodyInputs .form-group:nth-of-type(4) label {
        position: absolute;
        left: 3.6vw;
        top: 21.2vh;
        font-size: 1.3vw; }
      #successMsgRegister #messageBody #messagBodyInputs .form-group:nth-of-type(4) input {
        position: absolute;
        left: 10vw;
        top: 21vh;
        width: 20vw;
        height: 4vh;
        font-size: 1.2vw; }
      #successMsgRegister #messageBody #messagBodyInputs button {
        position: absolute;
        left: 13vw;
        top: 28vh;
        width: 10vw;
        height: 6vh;
        font-size: 1.3vw; }

/*# sourceMappingURL=main.css.map */
