@font-face {
  font-family: Berkshire;
  src: url(/fonts/BerkshireSwash-Regular.ttf); }
@font-face {
  font-family: CinzelBlack;
  src: url(/fonts/Cinzel-Black.ttf); }
@font-face {
  font-family: CinzelBold;
  src: url(/fonts/Cinzel-Bold.ttf); }
@font-face {
  font-family: Cinzel;
  src: url(/fonts/Cinzel-Regular.ttf); }
@font-face {
  font-family: Breeserif;
  src: url(/fonts/BreeSerif-Regular.ttf); }
@font-face {
  font-family: Dancing;
  src: url(/fonts/DancingScript-Bold.ttf); }
@font-face {
  font-family: Gloria;
  src: url(/fonts/GloriaHallelujah.ttf); }
@font-face {
  font-family: Lobster;
  src: url(/fonts/Lobster-Regular.ttf); }
html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0;
  margin: 0; }

#mainContainerBackground {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("/photos/img/basket.jpg");
  background-size: 100% 100%;
  -webkit-filter: blur(0.3vw);
  -moz-filter: blur(0.3vw);
  -o-filter: blur(0.3vw);
  -ms-filter: blur(0.3vw);
  filter: blur(0.3vw); }

.sbi_container {
  position: relative;
  margin: 0 auto;
  /*	overflow:hidden;*/
  /*padding:10px;*/
  background: rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  width: 70vw;
  height: 70vh;
  z-index: 9999;
  top: 10vh; }

#nextGameInfo {
  position: relative;
  width: 100%;
  height: 65%;
  /*    background-color: red;*/ }

#nextGameInfo span {
  position: absolute; }

#nextGameInfo span:first-of-type {
  font-family: Breeserif;
  font-size: 2vw;
  left: 27vw;
  top: 3vh; }

#nextGameInfo span:nth-of-type(2) {
  font-family: Gloria;
  font-size: 6vw;
  top: 21vh;
  left: 19vw; }

#nextGameInfo span:nth-of-type(3) {
  font-family: Breeserif;
  font-size: 2vw;
  top: 12vh;
  left: 25vw; }

#nextGameInfo span:nth-of-type(4) {
  font-family: Breeserif;
  font-size: 2vw;
  top: 12vh;
  left: 33.5vw; }

#nextGameInfo span:nth-of-type(5) {
  font-family: Breeserif;
  font-size: 2vw;
  top: 12vh;
  left: 36vw; }

#checkButton {
  position: absolute;
  width: 18vw;
  height: 12vh;
  left: 26.5vw;
  top: 48vh;
  border: solid 0.1vw black;
  text-align: center;
  vertical-align: center;
  display: table;
  font-size: 2vw;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 2vw; }

#checkButton:hover {
  color: white;
  background-color: rgba(83, 86, 87, 0.8);
  cursor: pointer; }

#checkButton span {
  display: table-cell;
  vertical-align: middle; }

.thumbView:hover {
  cursor: context-menu; }

#popUpThumbView {
  width: 9vw;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 9999999;
  left: 70vw;
  top: 30vh;
  position: fixed;
  display: none; }

#noGameAlert span {
  position: absolute;
  font-family: CinzelBold;
  font-size: 3vw;
  left: 20vw;
  top: 15vh; }

#popUpImg {
  display: none;
  overflow: hidden;
  width: 9vw;
  height: 20vh; }

#playersListShow {
  position: absolute;
  left: 25vw;
  top: 5vh;
  width: 20vw; }

#playersListShow ol li {
  font-size: 2vw;
  font-family: Gloria; }

.goBackButton {
  position: absolute;
  width: 12vw;
  height: 7vh;
  left: 26.5vw;
  top: 59vh;
  border: solid 0.1vw black;
  text-align: center;
  /*vertical-align: center;*/
  /*display: table;*/
  font-size: 1.5vw;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 2vw; }

.goBackButton span {
  position: absolute;
  top: 1vh;
  left: 3.5vw; }

.goBackButton:hover {
  color: white;
  background-color: rgba(83, 86, 87, 0.8);
  cursor: pointer; }

#gameHistoryList {
  position: absolute;
  left: 11vw;
  top: 5vh; }

.gameListButton {
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  font-size: 2vw;
  margin-left: auto;
  margin-right: auto;
  /*    position: absolute;
      left: 15vw;*/ }

.gameListButton:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.7); }

#scoreGameDetails {
  background: -moz-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(16%, white), color-stop(34%, white), color-stop(70%, black), color-stop(100%, black));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* ie10+ */
  background: linear-gradient(45deg, white 16%, white 34%, black 70%, black 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 );
  /* ie6-9 */
  /*background-color: lightgray;*/
  width: 100%;
  height: 6vh;
  position: relative;
  /*display:flex;*/ }

#spanScore {
  position: absolute;
  font-size: 2vw;
  font-weight: 600;
  left: 30.5vw;
  top: 0.1vh;
  letter-spacing: 1vw;
  text-shadow: -0.2vw 0 lightgray, 0 0.1vw lightgray, 0.1vw 0 lightgray, 0 -0.1vw lightgray; }

#firstTeamName {
  position: absolute;
  font-size: 1.4vw;
  text-shadow: none;
  letter-spacing: 0.3vw;
  left: -20vw;
  top: 1vh; }

#secondTeamName {
  position: absolute;
  font-size: 1.4vw;
  text-shadow: none;
  letter-spacing: 0.3vw;
  top: 1vh;
  left: 16vw;
  color: white;
  width: 20vw; }

#teamCompeting {
  width: 100%;
  height: 64vh;
  display: flex;
  position: absolute; }

.playersCompeting {
  width: 50%;
  height: 64vh;
  display: flex;
  position: relative; }

.playersCompeting:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.7); }

.playersCompeting:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.7); }

.playerSpot {
  position: absolute;
  width: 9vw;
  height: 18vh;
  /*border: solid 0.2vw black;*/ }

.firstPlayerSpot {
  top: 2vh;
  left: 3vw; }

.secondPlayerSpot {
  top: 2vh;
  left: 23vw; }

.thirdPlayerSpot {
  top: 20vh;
  left: 13vw; }

.fourthPlayerSpot {
  top: 38vh;
  left: 3vw; }

.fifthPlayerSpot {
  top: 38vh;
  left: 23vw; }

/*.blackSpot {
    border: solid 0.2vw white;
}*/
.center-block {
  width: 8.8vw;
  height: 17.8vh; }

.firstPlayerName {
  width: 16vw;
  height: 4vh;
  position: absolute;
  background-color: #12487C;
  color: whitesmoke;
  left: 0.2vw;
  top: 21vh;
  text-align: center; }

/* ribbon style */
/*.myribbon {
    
}*/
.firstRibbon {
  position: absolute;
  left: 3.5vw;
  top: 16.4vh; }

.secondtRibbon {
  position: absolute;
  left: 23.5vw;
  top: 16.4vh; }

.thirdRibbon {
  position: absolute;
  left: 13.5vw;
  top: 34.5vh; }

.fourthRibbon {
  position: absolute;
  left: 3.5vw;
  top: 52.5vh; }

.fifthRibbon {
  position: absolute;
  left: 23.5vw;
  top: 52.5vh; }

.myribbon.ribbon-wrapper {
  position: relative; }

.myribbon .ribbon-front {
  background-color: #ccf;
  height: 1.3vw;
  width: 11.6vw;
  position: relative;
  left: -1.7vw;
  z-index: 2; }

.myribbon .ribbon-front,
.myribbon .ribbon-back-left,
.myribbon .ribbon-back-right {
  -moz-box-shadow: 0px 0px 0.27vw rgba(0, 0, 0, 0.55);
  -khtml-box-shadow: 0px 0px 0.27vw rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 0.27vw rgba(0, 0, 0, 0.55);
  -o-box-shadow: 0px 0px 0.27vw rgba(0, 0, 0, 0.55); }

.myribbon .ribbon-edge-topleft,
.myribbon .ribbon-edge-topright,
.myribbon .ribbon-edge-bottomleft,
.myribbon .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style: solid;
  height: 0px;
  width: 0px; }

.myribbon .ribbon-edge-bottomleft,
.myribbon .ribbon-edge-bottomright {
  top: 1.0416vw; }

.myribbon .ribbon-edge-topleft,
.myribbon .ribbon-edge-bottomleft {
  left: -1.9vw;
  border-color: transparent #99c transparent transparent; }

.myribbon .ribbon-edge-topleft {
  top: -0.694vw;
  border-width: 0.694vw 1.5vw 0 0; }

.myribbon .ribbon-edge-bottomleft {
  border-width: 0 1.5vw 0px 0; }

.myribbon .ribbon-edge-topright,
.myribbon .ribbon-edge-bottomright {
  left: 8.4vw;
  border-color: transparent transparent transparent #99c; }

.myribbon .ribbon-edge-topright {
  top: -0.694vw;
  border-width: 0.694vw 0 0 1.5vw; }

.myribbon .ribbon-edge-bottomright {
  border-width: 0 0 0px 1.5vw; }

.myribbon .ribbon-back-left {
  position: absolute;
  top: -0.694vw;
  left: 0px;
  width: 0px;
  height: 1.0416vw;
  z-index: 0; }

.myribbon .ribbon-back-right {
  position: absolute;
  top: -0.694vw;
  right: 0px;
  width: 0px;
  height: 1.0416vw;
  z-index: 0; }

.ribbon-front {
  text-align: center; }

.ribbon-front span {
  font-size: 1.1vw;
  letter-spacing: 0.3vw;
  font-weight: 600; }

#smallBackButton {
  position: absolute;
  width: 8vw;
  height: 4.5vh;
  left: 31vw;
  top: 63.5vh;
  border: solid 0.1vw black;
  text-align: center;
  /*vertical-align: center;*/
  /*display: table;*/
  font-size: 1.5vw;
  background-color: lightgray;
  border-radius: 2vw; }

/*# sourceMappingURL=player.css.map */
