/*Usunięcie zaokrąglonych krawędzi bocznego menu*/
nav.sidebar.navbar {
    border-radius: 0px;
}

/*Wyśrodkuje przycisk menu*/
nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
}

/*dodaje górną linie do pierwszego elementu bocznego menu */
nav.sidebar .navbar-nav > li:first-child{
    border-top: 1px #e5e5e5 solid;
}

/*dodaje dolne linie do elementów bocznego menu */
nav.sidebar .navbar-nav > li{
    border-bottom: 1px #e5e5e5 solid;
}

/*pozwala na wykorzystanie 100% szerokości elementu bocznego menu*/
.navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
}

/*nadanie bocznego menu wysokosci  i szerokości*/
nav.sidebar{
    width: 150px;
    height: 100%;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
}

/*nadanie lementom bocznego menu  100% szerokości; !!! */
nav.sidebar li {
    width: 100%;
}

nav:hover .forAnimate{
    opacity: 1;
}

#sideMenu {
    position: relative;
    background-color: #226666;
    min-height: 1800px;
}

#sideMenuContainer {
    position: fixed;
}

.container {
    border-top: solid #000000 2px;
    padding-left: 130px;
    text-align: justify;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.diabList {
    text-decoration: underline;
    padding-top: 8px;
}

.shadowText {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-size: 280%;

}

.iconImage {
    position: relative;
    bottom: 2px;
}

#iconStart {
    left: 19px;
    width: 25px;
}

#iconHome {
    left: 7px;
    width: 32px;
}

#iconHealth {
    left: 3px;
    width: 22px;
}

#iconApple {
    left: 4px;
    width: 25px;
}

#iconCar {
    left: 5px;
    width: 30px;
}

#iconCalendar {
    left: 5px;
    width: 30px;
}

#iconPerson {
    left: 2px;
    width: 25px;
}

#iconEnvelope {
    left: 3px;
    width: 27px;
}

#start {
    padding-bottom: 10px;
    padding-top: 10px;
}

#start div:first-child {
    float: left;
    width: 495px;
    padding-right: 50px;
    border-right: solid 1px #000000;
}

#start div:first-child h1 {
    font-size: 180%;
    text-align: center;
}

#start div:last-child {
    float: left;
    width: 495px;
    padding-left: 50px;
}

#start div:last-child h1 {
    text-align: center;
}

.container h1 {
    text-align: center;
}

#doctorDescription div:first-of-type {
    float: left;
    width: 495px;
    padding-right: 50px;
    border-right: solid 1px #000000;
    font-size: 130%;
}

#doctorDescription div:first-of-type + div {
    float: left;
    width: 495px;
    padding-left: 50px;
    font-size: 130%
}

#diabDescription h4 {
    text-align: center;
    padding-bottom: 20px;
}

#diabDescription div:first-of-type {
    float: left;
    width: 495px;
    padding-right: 50px;
    border-right: solid 1px #000000;
}

#diabDescription div:first-of-type +div {
    float: left;
    width: 495px;
    padding-left: 50px;
    margin-bottom: 30px;
}

#diabDescription ul {
    font-size: 130%;
}

#diabDescription span {
    border-top: solid 1px #000000;
    font-size: 140%;
    padding-top: 20px;
}

#diabDescription div:last-child {
    text-align: center;
}

#dietDescription div:first-of-type {
    float: left;
    width: 330px;
    padding-right: 50px;
    border-right: solid 1px #000000;
}

#dietDescription h1 {
    font-size: 200%;
    text-align: center;
}

#dietDescription div:first-of-type + div {
    float: left;
    width: 330px;
    padding-left: 50px;
    border-right: solid 1px #000000;
    padding-right: 50px;
}

#dietDescription div:last-child {
    float: left;
    width: 330px;
    padding-left: 50px;
}

#registerTime h1 {
    text-align: center
}

#registerTime div:first-of-type + div {
    float: left;
    margin-left: 120px;
    border-right: solid 1px #000000;
    padding-right: 200px;
}

#registerTime div:last-child {
   float: left;
    margin-left: 220px;
}

#contact div:first-child {
    float: left;
    width: 397px;
    padding-right: 50px;
    padding-top: 40px;
}

#contact h1 {
    line-height: 130%;
}

#contact div:last-child {
    float: left;
    width: 397px;
    padding-left: 120px;
    border-left: solid 1px #000000;
}

.actives {
    background-color: #e5e5e5;
    color: #6d6;
}

.playerList {
    position: fixed;
    visibility: hidden;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}