{% extends "::baseAdmin.html.twig" %}

{% block title %}BasketballBundle:Admin:SelectDay{% endblock %}

{% block body %}
    
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3>Wyniki spotkania:  {{ nextGame.date }} - {{ nextGame.place }}</h3>
            <a href="{{ path('adminPanel') }}"><button class="btn btn-danger"><span>Wróć</span></button></a>
        </div>
    </div> 
    <div class="mainContainerResult">
        <div id="firstRow" class="myRow">
            <div>
                <span>Drużyna 1</span>
            </div>
            <div>
                <span>Drużyna 2</span>
            </div>
        </div>
        <div id="secondRow" class="myRow">
            <div class="firstTeamPlayer">
                
            </div>
            <div class="playerLabel">
                
            </div>
            <div class="secondTeamPlayer">
                
            </div>
        </div>
        <div id="thirdRow" class="myRow">
            
        </div>
        <div id="fourthRow" class="myRow">
            
        </div>
        <div id="fifthRow" class="myRow">
            
        </div>
        <div id="sixthRow" class="myRow">
            
        </div>
        <div id="seventhRow" class="myRow">
            
        </div>
    </div>
            
{% endblock %}
