{% extends "::baseAdmin.html.twig" %}

{% block title %}Panel Administratora{% endblock %}

{% block body %}
    <div class="panel panel-success">
           <div class="panel-heading" style="position:relative">
               <h3 >Wybierz użytkownika:</h3>
               <a href="{{ path('adminPanel') }}"><button class="btn btn-danger"><span>Wróć</span></button></a>
           </div>
    </div>
    <div id="addPlayerSpot">
            <select name="player">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select><br>
            <a href="#"><input type="submit" value="Dodaj zawodnika" class="btn btn-info"></a>
    </div>
{% endblock %}
