{% extends "::base.html.twig" %}

{% block title %}BasketballBundle:Admin:SelectDay{% endblock %}

{% block body %}
    
    <h3>Panel Administratora</h3>
    
    <ul>
        <li><a href="{{ asset('addNextGame') }}"><button class="btn btn-info">Dodaj najbliższy mecz</button></a></li>
        <li><a><button class="btn btn-success">Dodaj wyniki ostatniego meczu</button></a></li>
        <li><a href="{{ asset("addPlayerToNextGame") }}"><button class="btn btn-info">Dodaj/Usuń zawodnika z listy</button></a></li>
        <li><a><button class="btn btn-success">Usuń profil</button></a></li>
        <li><a href="{{ asset("showList") }}"><button class="btn btn-info">Pokaż listę</button></a></li>
    </ul>
     
{% endblock %}
