{% extends "::baseAdmin.html.twig" %}

{% block title %}BasketballBundle:Admin:SelectDay{% endblock %}

{% block body %}
    
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 style="text-align: center; color: black">Panel Administratora - Historia spotkań</h3>
            <a href="{{ path('adminPanel') }}"><button class="btn btn-danger"><span>Wróć</span></button></a>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                </div>
                <div class="col-md-1"></div>
                <ul style="list-style-type:none;">
                    {% for game in games %}
                        <a style="padding:2px" href="{{ path('gameDetails',{id: game.id}) }}"><button class="btn-success btn-block btn-lg">{{ game.date }}</button></a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div> 
    </div>
{% endblock %}
