{% extends "::baseMain.html.twig" %}

{% block title %}Rejestracja użytkownikar{% endblock %}

{% block body %}
   <div id="mainContainerBackground">
    </div>
    <div id="mainContainer">
        <div id="registerContainer">
            <div id ="registerHeader"><span>Rejestracja</span></div>
            <div id = "registerBody">
                <div id="registerInputs">
                    {{form(form)}}
                </div>
            </div>
        </div>
    </div>
   
   
{% endblock %}
